<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSTI练习场</title>
  <link href="http://120.46.41.173/Jay17/blog.csdn.net/templates/index.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1 class="text-center mt-5">SSTI练习场</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/" method="POST">
          <div class="form-group mt-3">
            <label for="payload">Enter Your Payload:</label>
            <input type="text" name="payload" id="payload" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3" style="width: 100%;">梭哈</button>
        </form>
        <p>熟悉的界面嘿嘿，懒得再做一个前端了，师傅们见谅~</p>
        <!-- 添加一个段落用于显示消息，颜色根据传入的color变量确定 -->
        <p class="mt-3" style="color: {{color}}">{{message}}</p>

      </div>
    </div>
  </div>
</body>
</html>
